@font-face{
    font-family: 'reseaux.ttf';
    src: url('img/reseaux.ttf');
}
.reseaux {
    font-family: 'reseaux.ttf';
    font-size: 30px;
    text-decoration: none;
    display: block;
     align-items: center;
    padding-top: 10px;
    padding-left: 30px;
  
}

.reseaux li{
    display: inline-flex;
   
}
footer{
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: none;
    background-color: black;
    
}
footer a{
    text-decoration: none;
    color:white;
   
}