* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
}

body,
input,
select,
textarea {
    font-family: arial;
    font-size: 15px;
    line-height: 1.5em;
    background-color: #f2f2f2;
    background-image: url(img/brickwall_beige.png);
    background-position: left top;
    background-size: auto;
    background-repeat: repeat;
    background-attachment: fixed;
}


#container {
    margin: 50px auto;
    overflow: auto;
    width: 80%;
    min-height: 630px;
}

ol,
ul {
    list-style: none;
}


strong,
b {
    color: #3d4449;
    font-weight: 600;
}

em,
i {
    font-style: italic;
}

p {
    margin: 0 0 2em 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #3d4449;
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    line-height: 1.5;
    margin: 0 0 1em 0;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
    text-decoration: none;
    border-bottom: 0;
}

h1 {
    font-size: 3em;
    margin: 0 0 0.5em 0;
    line-height: 1.3;
}

h2 {
    font-size: 1.75em;
}

h3 {
    font-size: 1.25em;
}

h4 {
    font-size: 1.1em;
}

h5 {
    font-size: 0.9em;
}

h6 {
    font-size: 0.7em;
}

hr {
    border: 0;
    border-bottom: solid 1px black;
    margin: 2em 0;
    margin-left: 10%;
    width: 80%;
}

hr.major {
    margin: 3em 0;
}

.align-left {
    text-align: left;
}

.align-center {
    text-align: center;
}

.align-right {
    text-align: right;
}

.row {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    /*align-items: stretch;*/
}

.row>* {
    box-sizing: border-box;
}

.row.aln-left {
    justify-content: flex-start;
}

.row.aln-center {
    justify-content: center;
}

.row.aln-right {
    justify-content: flex-end;
}

section.special,
article.special {
    text-align: center;
}

header p {
    font-family: "Roboto Slab", serif;
    font-size: 1em;
    font-weight: 400;
    letter-spacing: 0.075em;
    margin-top: -0.5em;
    text-transform: uppercase;
}

.row.aln-top {
    align-items: flex-start;
}

.row.aln-middle {
    align-items: center;
}

.row.aln-bottom {
    align-items: flex-end;
}

.row>.col-1 {
    width: 8.33333%;
}


.row>.col-2 {
    width: 16.66667%;
}


.row>.col-3 {
    width: 25%;
}


.row>.col-4 {
    width: 33.33333%;
}


.row>.col-5 {
    width: 41.66667%;
    margin-left: 5%;
}


.row>.col-6 {
    width: 50%;
}


.row>.col-7 {
    width: 58.33333%;
}


.row>.col-8 {
    width: 66.66667%;
}


.row>.col-9 {
    width: 75%;
}


.row>.col-10 {
    width: 83.33333%;
}


.row>.col-11 {
    width: 91.66667%;
}

.row>.col-12 {
    width: 100%;
}

.row {
    margin-top: 0;
    margin-left: -1.5em;
}

.row>* {
    padding: 0 0 0 1.5em;
}

.icon {
    text-decoration: none;
    border-bottom: none;
    position: relative;
}

.image {

    border: 0;
    display: inline-block;
    position: relative;
}

.image img {

    display: block;
}

.image.left,
.image.right {
    max-width: 40%;
}

.image.left img,
.image.right img {
    width: 100%;
}

.image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
}

.image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
}

.image.fit {
    display: block;
    margin: 0 0 0 0;
    width: 100%;
}

.image.fit img {
    width: 100%;
}

.image.main {
    display: block;
    margin: 0 0 3em 0;
    width: 100%;
}

.image.main img {
    width: 100%;
}

#main {
    flex-shrink: 1;
    width: 100%;
}

#main>.inner {
    padding: 0 6em 0.1em 6em;
    margin: 0 auto;
    max-width: 110em;
}

#main>.inner>section {
    padding: 6em 0 4em 0;
    border-top: solid 2px rgba(210, 215, 217, 0.75);
}

#main>.inner>section:first-of-type {
    border-top: 0 !important;
}

/* header */
header,
.subheader {
    width: 100%;
    padding-bottom: 20px;
    display: block;
    clear: both;
    float: none;
}

nav {
    padding-left: 0%;
    padding-right: 0%;
    text-align: center;
    width: 100%;
    display: block;
    background-color: black;
    padding-bottom: 30px;
    padding-top: 30px;
}

nav .project-title:first-child,
nav .gallery-title:first-child,
nav .page-title:first-child,
nav .logo:first-child {
    padding-left: 0 !important;
}

nav .page-title,
nav .gallery-title,
nav .project-title,
nav .link-title,
nav .social,
nav .social li {
    display: inline-flex;
    vertical-align: middle;
}

nav .gallery-title {
    padding-right: 40px;
}

nav .gallery-title a.active {
    color: rgb(51, 204, 204);
    font-style: normal;
    font-weight: 500;
}

nav .gallery-title a {
    color: #999999;
    font-family: fbft;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
}

nav .page-title {
    padding-right: 40px;
}

nav .page-title a:hover {
    color: rgb(51, 204, 204);
    transition: color 0.2s ease;
}

nav .page-title a {
    color: #999999;
    font-family: fbft;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    text-decoration: none;
}

a {
    text-decoration: none;
}

aside {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

article {
    text-align: justify;
}

/*slide*/


*{box-sizing: border-box }

img{

max-width:100%

}


#slideshow{

border: 5px solid white;
box-shadow: 0 0 5px hsla(0,0%,0%,.5);
overflow: hidden;
max-width: 700px;
margin: 2rem auto;
position: relative

}
    
#slideshow ul{

padding-bottom: 66.67%;/* ratio pour le responsive */
margin: 0;
list-style-type: none;
position: relative
	
}
    
    
#slideshow li{

top: 0;
left: 0;
animation: slideshow 25s ease infinite;
position: absolute;
opacity: 0;
}
  
#slideshow li:nth-child(2){

animation-delay: 5s

}

#slideshow li:nth-child(3){

animation-delay: 10s

}

#slideshow li:nth-child(4){

animation-delay: 15s

}

#slideshow li:nth-child(5){

animation-delay: 20s

}

    
@keyframes slideshow{
	
0%{opacity: 0}

10%{opacity: 1}

20%{opacity: 1}

25%{opacity: 0}

100%{opacity: 0}
	
} 

/*footer*/

@font-face{
    font-family: 'reseaux.ttf';
    src: url('img/reseaux.ttf');
}
.reseaux {
    font-family: 'reseaux.ttf';
    font-size: 30px;
    text-decoration: none;
    display: block;
     align-items: center;
    padding-top: 10px;
    padding-left: 30px;
  
}

.reseaux li{
    display: inline-flex;
   
}
footer{
    padding-top: 20px;
    padding-bottom: 20px;
    border-style: none;
    background-color: black;
    
}
footer a{
    text-decoration: none;
    color:white;
   
}